	
#demos {
	background: #accd3a;
	background: linear-gradient(20deg, #accd3a, #2bc792);
}
	#demos img {
		width: 560px;
		height: 350px;
	}
	#demos .fading-slider {
		height: 350px;
	}
	#demos .wrap {
		width: 640px;
	}
	#demos pre {
		color: rgba(255,255,255,.75);
		line-height: 24px;
	}
		#demos pre .hilite {
			display: block;
			white-space: pre-line;
			padding: 0 0 0 20px;

			font-weight: bold;
			line-height: 24px;
			color: #fff;
		}
	#demos .unslider {
		overflow: visible;
	}