---
layout: page
title: "标签"
header: Posts By Tag
---
{% include JB/setup %}

<div>
	{% assign tags_list = site.tags %}
	{% if tags_list.first[0] == null %}
	{% for tag in tags_list %}
	<a href="{{ site.baseurl }}{{ site.tags_path }}#{{ tag }}-ref">{{ tag }} ({{ site.tags[tag].size }})</a>&nbsp;&nbsp;
	{% endfor %}
	{% else %}
	{% for tag in tags_list %}
	<a href="{{ site.baseurl }}{{ site.tags_path }}#{{ tag[0] }}-ref">{{ tag[0] }} ({{ tag[1].size }})</a>&nbsp;&nbsp;
	{% endfor %}
	{% endif %}
</div>

{% for tag in site.tags %} 
  <h2 id="{{ tag[0] }}-ref">{{ tag[0] }}</h2>
  <ul>
    {% assign pages_list = tag[1] %}  
    {% include JB/pages_list %}
  </ul>
{% endfor %}
