.img-header {
  height: 8rem;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: white;
}

@media (min-width: 38em) {
  .img-header {
    height: 14rem;
  }
}

.blur {
    -webkit-filter: blur(5px);
    -webkit-transition: -webkit-filter .50s;
}

.blur:hover{
    -webkit-filter: none;
    -webkit-transition: -webkit-filter .50s;
}

/* disable slider title*/
.ws-title {
  display: none;
}