<header class="mdl-layout__header mdl-layout__header--scroll demo-header">

  <div class="mdl-layout__header-row">
<!--     <a class="site-title mdl-layout-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
 -->    <div class="mdl-layout-spacer"></div>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link site-tab" href="https://github.com/avenwu"><img src="{{ site.baseurl }}/assets/images/github-light.png" style="width:30px;height:30px;"/></a>
      <a class="mdl-navigation__link site-tab" href="{{ site.baseurl }}/">Home</a>
      <a class="mdl-navigation__link site-tab" href="{{ site.baseurl }}/tags">Tag</a>
      <a class="mdl-navigation__link site-tab" href="{{ site.baseurl }}/archive">Archive</a>
      <a class="mdl-navigation__link site-tab" href="{{ site.baseurl }}/about">About</a>
	</nav>
</header>
