<div>
   <ul class="posts">
    {% for post in paginator.posts %}
      <li>
        <div class="mdl-card mdl-shadow--2dp layout-card">
          {% if post.header_image %}
          <div class="mdl-card__media mdl-color-text--grey-50" style="background-image: url({{ post.header_image }}); width:100%">
          </div>
          {% else %}
          <div class="mdl-card__media mdl-color-text--grey-50" style="background-image: url({{ site.baseurl }}/img/material.jpg);width:100%">
          </div>
          {% endif %}
          <div class="mdl-card__title">
            <a href="{{ post.url | prepend: site.baseurl }}">
              <h1 class="mdl-card__title-text">{{ post.title }}</h1>
            </a>
          </div>
          <div class="mdl-card__supporting-text">
            <span class="post-date">posted @ {{post.date | date:"%Y-%m-%-d"}} by {{ site.username }}
            </span>
            <p class="post-preview">
              {{ post.content | strip_html | truncate:256}}
            <a href="{{ site.baseurl }}{{ post.url }}" class="c_b_p_desc_readmore">阅读全文</a>
            </p>
          </div>
        </div>
      </li>
    {% endfor %}
  </ul>
  <!-- Pagination links -->
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">上一页</a>
    {% else %}
    {% endif %}
    <span class="page_number ">页数: {{ paginator.page }} / {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">下一页</a>
    {% else %}
    {% endif %}
  </div>
</div>