<!DOCTYPE html>
<html lang="zh">
   <head>
      <meta charset="utf-8">
      <title>{{ page.title }}</title>
      {% if page.description %}
      <meta name="description" content="{{ page.description }}">
      {% endif %}
      <meta name="author" content="{{ site.author.name }}">
      <link href="{{ ASSET_PATH }}/css/1.4.0/bootstrap.css" rel="stylesheet">
      <link href="{{ ASSET_PATH }}/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">
      <link href="{{ ASSET_PATH }}/css/pygments.css" rel="stylesheet" >
      <link href="{{ ASSET_PATH }}/css/blog-common.css" rel="stylesheet" >
      <link href="{{ ASSET_PATH }}/css/blog-custom.css" rel="stylesheet" >
   </head>
   <body>
      <a name="top"></a>
      <div id="home">
         <div id="header">
            <div id="blogTitle">
               <h1><a id="Header1_HeaderTitle" class="headermaintitle" href="{{ HOME_PATH }}">{{ site.title }}</a></h1>
               <h2 style="color:#999">Keep on ...</h2>
            </div>
            <div id="navigator">
               <ul id="navList">
                  <li id="home"><a href="{{ HOME_PATH }}">主页</a></li>
                  {% assign pages_list = site.pages | sort:"weight"  %}
                  {% assign group = 'navigation' %}
                  {% include JB/pages_list %}
                  <li><a href="/rss.xml" target="_blank">订阅</a></li>
               </ul>
                <div class="blogStats">    
                随笔- {{ site.posts | size }}&nbsp;
                </div>
            </div>
         </div>
         <!-- content start-->
         <div id="main">
            <div id="mainContent">
               {{ content }}
            </div>
            <div id="sideBar">
               <div id="sideBarMain">
                  <div id="blog-sidecolumn">
                      <h3 class="catListTitle">公告</h3>
                      <br/>
                      <p>喜欢移动开发的攻城狮，现就职于宝宝树(北京)</p>
                      <ul style="margin:0 0 0 0; padding-left:0">
                        <li>Github:&nbsp;&nbsp;<a href="https://github.com/avenwu/">https://github.com/avenwu/</a></li>
                        <li>Email:&nbsp;&nbsp;&nbsp;&nbsp;<a href="mailto:me@avenwu.net">me@avenwu.net</a></li>
                       <!--  <li>QQ:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=1210567245&site=qq&menu=yes">1210567245</a>
                        </li> -->
                      </ul>
                      <h3 class="catListTitle">文章分类</h3>
                      <br/>
                      {% assign tags_list = site.tags %}
                       {% if tags_list.first[0] == null %}
                       {% for tag in tags_list %}
                       <a href="{{ BASE_PATH }}{{ site.JB.tags_path }}#{{ tag }}-ref">{{ tag }} ({{ site.tags[tag].size }})</a>&nbsp;&nbsp;
                       {% endfor %}
                       {% else %}
                       {% for tag in tags_list %}
                       <a href="{{ BASE_PATH }}{{ site.JB.tags_path }}#{{ tag[0] }}-ref">{{ tag[0] }} ({{ tag[1].size }})</a>&nbsp;&nbsp;
                       {% endfor %}
                       {% endif %}
                  </div>
               </div>
            </div>
            <div class="clear"></div>
         </div>
         <div class="clear"></div>
         <div id="footer">
            Copyright &copy; 2015 {{ site.author.name }}
         </div>
      </div>
      {% include JB/analytics %}
   </body>
</html>