<h1>{{ page.title }}</h1>
<div>
  {{ content }}
  <div class="topicListFooter">
    {% if page.previous %}
      <a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">上一篇</a>
    {% endif %}
    <a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">随笔档案</a>
    {% if page.next %}
    <a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">下一篇</a>
    {% endif %}
  </div>
</div>
 <!-- <div class="date">发布时间: {{ page.date | date:"%Y-%m-%-d" }}</div> -->
 <div class="topicListFooter">
  <a>发布时间: {{ page.date | date:"%Y-%m-%-d" }}</a>
  {% unless page.tags == empty %}
  {% assign tags_list = page.tags %}
  {% if tags_list.first[0] == null %}
  {% for tag in tags_list %}
  <a href="{{ BASE_PATH }}{{ site.JB.tags_path }}#{{ tag }}-ref">{{ tag }} ({{ site.tags[tag].size }})</a>
  {% endfor %}
  {% else %}
  {% for tag in tags_list %}
  <a href="{{ BASE_PATH }}{{ site.JB.tags_path }}#{{ tag[0] }}-ref">{{ tag[0] }} ({{ tag[1].size }})</a>
  {% endfor %}
  {% endif %}
  {% endunless %}
  </div>
