<h1><a href="{{ BASE_PATH }}{{ page.url }}">{{ page.title }}</a></h1>
<div>
  {{ content }}
  <div id="MySignature" style="display: block;">
    <div id="AllanboltSignature">    
      <div>作者：<a href="{{ HOME_PATH }}" target="_blank">{{ site.title }}</a></div>
      <div>出处：<a href="{{ BASE_PATH }}{{ page.url }}" target="_blank">{{ page.title }}</a></div>
      <div>本文版权归作者，欢迎转载，但未经作者同意必须保留此段声明，且在文章页面明显位置给出原文连接，否则保留追究法律责任的权利.</div>  
    </div>
  </div>

  <div class="topicListFooter">
    {% if page.previous %}
      <a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">上一篇</a>
    {% endif %}
    <a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">随笔档案</a>
    {% if page.next %}
    <a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">下一篇</a>
    {% endif %}
  </div>
</div>
 <!-- <div class="date">发布时间: {{ page.date | date:"%Y-%m-%-d" }}</div> -->
 <div class="topicListFooter">
  <a>发布时间: {{ page.date | date:"%Y-%m-%-d" }}</a>
  {% unless page.tags == empty %}
  {% assign tags_list = page.tags %}
  {% if tags_list.first[0] == null %}
  {% for tag in tags_list %}
  <a href="{{ BASE_PATH }}{{ site.JB.tags_path }}#{{ tag }}-ref">{{ tag }} ({{ site.tags[tag].size }})</a>
  {% endfor %}
  {% else %}
  {% for tag in tags_list %}
  <a href="{{ BASE_PATH }}{{ site.JB.tags_path }}#{{ tag[0] }}-ref">{{ tag[0] }} ({{ tag[1].size }})</a>
  {% endfor %}
  {% endif %}
  {% endunless %}
  </div>
